body {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --light-grey: rgb(250, 250, 250);
  --grey: rgb(219, 219, 219);
  --darker-grey: rgb(142, 142, 142);
  --dark-grey: rgb(70, 70, 70);
  --red: rgb(236, 49, 67);
  --blue: rgb(25, 151, 243);
  --light-blue: rgb(186, 225, 251);
}
